.footer{
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #161a1f;
  background-image: url(https://st.deviantart.net/eclipse/global/sitefooter/bg_dark.png);
  display: block;
  box-sizing: border-box;
  background-size: cover;
  height: 350px;
  font-family: sans-serif;
  text-decoration: none;
  color: inherit;
}

.footerContent{
display: flex;
height: 100%;
justify-content: center;
align-items: center;
font-size: 16px;
}

.logo{
  display: flex;
  align-items: center;
  width: 145px;
  height: 55px;
}
.logo-box{
  display: flex;
  width: 100px;
  height: 26px;
  margin: 0px 28px 0px 10px;
}
.logo-icon svg{
  height: 100%;
}
.logo-text svg{
  width: 100%;
  height: 100%;
  fill: white;
}


.adicional-content{
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-column-gap: 40px;
  grid-row-gap: 15px;
}

.adicional-content a{
  display: inline-block;
  font-weight:600;
  text-align: left;
  font-size: 14px;
}



